extends layout.pug

block scripts

block content
  div.blueprint
    div.viewport(onload='init()')
      img#sprites(src='/resource/sprites.png', style='display: none')
      canvas.canvas#viewport
    div.stats
      table.list
        tr#dimensions
          td.title Dimensions
          td.value #{stats.width}×#{stats.height}
        tr#belts
          td.title Belts
          td.value #{stats.belts}
        tr#buildings
          td.title Buildings
          td.value #{stats.buildings}
        tr#level
          td.title Min. level
          td.value #{stats.minLevel}
    div.description
      each paragraph in description
        p #{paragraph}
    div.forks Fork//todo
    div.export
      ul.nav
        button.copy(onclick='copyCurrentStringData()') Copy
        div.selectors
          button.selected-tab#string-button(onclick='changeCurrentStringType()') ShrimpBP
          button.tab#json-button(onclick='changeCurrentStringType()') JSON
      div.data
        p.string#blueprint-string #{bpString}
        p.json#blueprint-json #{bpJSON}