extends layout.pug

block scripts

block content
  div.blueprint
    div.viewport(onload='init()')
      img#sprites(src='/resource/sprites.png', style='display: none')
      canvas.canvas#viewport
    div.tags
      table.list
        each tag in tags
          div.tag #{tag}
    div.stats
      table.list
        tr#dimensions
          td.title Dimensions
          td.value #{stats.width}×#{stats.height}
        tr#belts
          td.title Belts
          td.value #{stats.belts}
        tr#buildings
          td.title Buildings
          td.value #{stats.buildings}
        tr#level
          td.title Min. level
          td.value #{stats.minLevel}
    div.description
      each paragraph in description
        p #{paragraph}
    div.forks Fork//todo
    div.export
      input.stringTypeCB(type='checkbox', onclick='changeCurrentStringType()')
      ul.nav
        button.copy(onclick='copyCurrentStringData()') Copy
        div.stringType#typeButtons
          a.string ShrimpBP
          a.json JSON
      div.data
        p.string#blueprint-string #{bpString}
        p.json#blueprint-json #{bpJSON}