extends layout.pug

block scripts

block content
  div.blueprint
    div.viewport Viewer//todo
      canvas#render
    div.stats
      table.list
        tr#dimensions
          td.title Dimensions
          td.value #{stats.width}×#{stats.height}
        tr#belts
          td.title Belts
          td.value #{stats.belts}
        tr#buildings
          td.title Buildings
          td.value #{stats.buildings}
        tr#level
          td.title Min. level
          td.value #{stats.minLevel}
    div.description
      each paragraph in description
        p #{paragraph}
    div.forks Fork//todo
    div.export
      ul.nav
        button.copy#blueprintCopy Copy
        a.name ShrimpBP
        button.json#blueprintData JSON
      div.data
        p.item #{bpString}