extends layout.pug

block scripts

block content
  div.blueprint
    div.viewport Viewer//todo
      canvas#render
    div.tags
      table.list
        each tag in tags
          div.tag #{tag}
    div.stats
      table.list
        tr#dimensions
          td.title Dimensions
          td.value #{stats.width}×#{stats.height}
        tr#belts
          td.title Belts
          td.value #{stats.belts}
        tr#buildings
          td.title Buildings
          td.value #{stats.buildings}
        tr#level
          td.title Min. level
          td.value #{stats.minLevel}
    div.description
      each paragraph in description
        p #{paragraph}
    div.forks Fork//todo
    div.export
      input.stringTypeCB(type='checkbox')
      ul.nav
        a.copy Copy
        div.stringType#typeButtons
          a.string ShrimpBP
          a.json JSON
      div.data
        p.string #{bpString}
        p.json #{bpJSON}