html
  head
    title #{title} - Shapez.bp
    link(rel='stylesheet' href='/stylesheets/style.css')
    block scripts
  body
    nav.navbar-root
      div.container
        a.brand(href='/')
          img(src='/images/logo.png')
          span Shapez.bp
        ul.nav
          li.item
            a.link#indexNew(href='/explore/new') New
          li.item
            a.link#indexTop(href='/explore/top') Top
          if user
            li.item
              a.link#indexUser(href='/user/book') My book
            li.item
              a.link#userCreate(href='/create') Create
        if user
          a.user(href='/user')
            img.avatar(src=user.avatar)
            span.name #{user.name}
            img.logout(src='/images/logout.svg#logout')
        else
          a.user(href='/login')
            span.login
              svg.discord-login(viewbox='0 0 73 57')
                use(xlink:href='/images/discord.svg#logo')
              |  Log In
    div.header
      a.title #{title}
      div.line
      a.author #{author}
    main.content
      block content
    